*.z64
*.v64
*.n64
*.rom
*.sav
*.mpk
*.sra
*.fla
*.glb
*.gltf
*.blend
*.rtz
*.qsmod
*.zip
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.lib
*.pdb
*.elf
*.map
*.d
*.bin
build*/
out/
RecompiledFuncs/
RecompiledPatches/
rsp/aspMain.cpp
src/game/scene_table.cpp
src/game/quest64_destinations.inc
mods/debug-destinations.json
extracted-assets/
hires_tex/
rom/
saves/
userdata/
mod_config/
assets/*.ttf
assets/*.otf
assets/promptfont/*.ttf
icons/*.png
icons/*.ico
N64Recomp
RSPRecomp
*.log
__pycache__/
.vs/
.vscode/
node_modules/
src/game/quest64_progression_data.inc
